.red, .yellow, .green {
    border-radius: 50%;
    height: 70px;
    width: 70px;
}
.yellow{
    background-color: yellow;
}
.yellow.selected{
    box-shadow: 0px 5px 15px 15px yellow
}
.green{
    background-color: green;
}
.green.selected{
    box-shadow: 0px 5px 15px 15px green
}
.red{
    background-color: red;
}
.red.selected{
    box-shadow: 0px 5px 15px 15px red
}
.stick{
    background-color: black;
    height: 100px;
    width: 10px;
    
}
.container{
    background-color: black;
    border-radius: 5%;
    height: 260px;
    width: 90px;
}
